<div class="modal-header">
    <h3 class="modal-title">Belka dla zawodnika {{ player.getFullName() }} <span class="pull-right">
                <button ng-show="!auto_refresh" class="btn form-control btn-info" ng-click="refreshPlayerData()"><span class="glyphicon glyphicon-refresh"></span> Odśwież dane</button></span> </h3>
</div>
<div class="modal-body clearfix">


    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>Rodzaj belki</label>
                <div>
                    <button
                            ng-repeat="i_bar_type in BAR_TYPES" class="btn btn-default btn-xs"
                            ng-class="{ 'btn-success': isBarActive(i_bar_type.id), 'btn-default': !isBarActive(i_bar_type.id)}"
                            ng-click="activateBarType(i_bar_type.id)"
                            style="margin:5px 5px;">
                        {{ i_bar_type.label }}
                    </button>
                </div>
            </div>
            <div tooltip="Czy dane zawodnika w tym formularzu powinny być automatycznie synchronizowane? Może nadpisać Twoje zmiany." class="form-group">
                <label>Aktualizuj</label>
                <input type="checkbox" ng-model="auto_refresh" class="form-control"/>
            </div>
            <div ng-show="history" tooltip="Czy dane historyczne powinny byc zalaczone do belki?" class="form-group">
                <label>Historia</label>
                <input type="checkbox" ng-model="attach_history_data" class="form-control"/>
            </div>
        </div>
        <div class="col-md-10">
            <div ng-repeat="field in filteredFields()" class="col-md-4 clearfix">
                <div ng-include="'fiba/templates/fields/renderer.html'"></div>
            </div>
        </div>
    </div>
    <button class="btn btn-success" ng-click="accurate_1p()">Celny 1P</button>
    <button class="btn btn-danger" ng-click="miss_1p()">Pudło 1P</button>

</div>
<div class="modal-footer">
    <button class="btn btn-success"  ng-click="show()">Pokaż</button>
    <button class="btn btn-warning" ng-click="hide()">Zdejmij</button>
    <button class="btn btn-info" ng-click="update()">Aktualizuj</button>
    <button class="btn btn-danger" ng-click="cancel()">Anuluj</button>

</div>