<div class="modal-header">
    <h3 class="modal-title">Trener zespołu "{{ team.name }}"</h3>
</div>
<div class="modal-body clearfix">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Trener </label>
                    <input ng-model="team.coach" class="form-control"/>

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success"  ng-click="show()">Pokaż</button>
    <button class="btn btn-warning" ng-click="hide()">Zdejmij</button>
    <button class="btn btn-info" ng-click="update()">Aktualizuj</button>
    <!--button class="btn btn-danger" ng-click="cancel()">Anuluj</button-->
</div>