<div class="modal-header">
    <h3 class="modal-title">Skład zespołu "{{ team.name }}" <span class="pull-right">
                <button ng-show="!auto_refresh" class="btn form-control btn-info" ng-click="refreshTeam()"><span class="glyphicon glyphicon-refresh"></span> Odśwież dane</button></span> </h3>
</div>
<div class="modal-body clearfix">
    <div class="row">
        <div class="col-md-2">
            <div tooltip="Czy dane zespołu w tym formularzu powinny być automatycznie synchronizowane? Może nadpisać Twoje zmiany." class="form-group">
                <label>Aktualizuj</label>
                <input type="checkbox" ng-model="auto_refresh" class="form-control"/>
            </div>
        </div>
        <div class="col-md-10">
            <div ng-repeat="player in team.players | orderBy:'number'" class="col-md-12 clearfix">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Imię
                            <input ng-model="player.first_name" class="form-control"/>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Nazwisko
                            <input ng-model="player.last_name" class="form-control"/>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Numer
                            <input ng-model="player.number" class="form-control"/>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success"  ng-click="show()">Pokaż</button>
    <button class="btn btn-warning" ng-click="hide()">Zdejmij</button>
    <button class="btn btn-info" ng-click="update()">Aktualizuj</button>
    <!--button class="btn btn-danger" ng-click="cancel()">Anuluj</button-->
</div>