<div ng-include="'fiba/templates/team_name.html'" class="text-right"></div>
<div ng-controller="ScoreController">
    <div class="row noselect">
        <div class="col-xs-8">

            <div class="row plus">
                <div class="col-xs-4"><span class="label" ng-click="addToScore(3)" ng-class="{'label-success': Score.useManualScoring(), 'label-default': !Score.useManualScoring() }">+3</span></div>
                <div class="col-xs-4"><span class="label" ng-click="addToScore(2)" ng-class="{'label-success': Score.useManualScoring(), 'label-default': !Score.useManualScoring() }">+2</span></div>
                <div class="col-xs-4"><span class="label" ng-click="addToScore(1)" ng-class="{'label-success': Score.useManualScoring(), 'label-default': !Score.useManualScoring() }">+1</span></div>
            </div>
            <div class="row minus">
                <div class="col-xs-4"><span class="label" ng-click="addToScore(-3)" ng-class="{'label-danger': Score.useManualScoring(), 'label-default': !Score.useManualScoring() }">-3</span></div>
                <div class="col-xs-4"><span class="label" ng-click="addToScore(-2)" ng-class="{'label-danger': Score.useManualScoring(), 'label-default': !Score.useManualScoring() }">-2</span></div>
                <div class="col-xs-4"><span class="label" ng-click="addToScore(-1)" ng-class="{'label-danger': Score.useManualScoring(), 'label-default': !Score.useManualScoring() }">-1</span></div>
            </div>

        </div>

        <div class="col-xs-4">
            <div ng-include="'fiba/templates/team/score.html'" class="text-right"></div>
        </div>

    </div>
    <div ng-include="'fiba/templates/team/quarts.html'"  class="text-right"></div>
    <div ng-include="'fiba/templates/team/players.html'"  class="text-right"></div>
    <div ng-include="'fiba/templates/team/button_area.html'"  class="text-right"></div>
</div>