<div class="modal-header">
    <h3 class="modal-title">Dane historyczne</h3>
</div>
<div class="modal-body clearfix">
    <div ng-if="!parsed_history">
        <h3>
            Wybierz plik wygenerowany z systemu esok
        </h3>
        <input type="file" on-read-file="showContent($fileContent)" />
    </div>


    <div ng-if="parsed_history">
        <h3>Zmapuj zespoły:</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Z lewej</label>
                    <select ng-model="teams.team_a_id" class="form-control">
                        <option ng-repeat="team in parsed_history" value="{{ team.teamid }}" ng-selected="team.teamid == teams.team_a_id">{{team.druzyna}}</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">

                <div class="form-group">
                    <label>Z prawej</label>
                    <select  ng-model="teams.team_b_id" class="form-control">
                        <option ng-repeat="team in parsed_history" value="{{ team.teamid }}" ng-selected="team.teamid == teams.team_b_id">{{team.druzyna}}</option>
                    </select>
                </div>
            </div>
        </div>

        <button class="btn btn-danger" ng-click="clearMappings()">Usuń mapowanie</button>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-if="parsed_history" ng-click="saveOnServer()">Zapisz </button>
    <button class="btn btn-danger" ng-if="parsed_history" ng-click="deleteFromServer()">Usuń dane historyczne z komputera</button>
</div>