<div ng-controller="BoolFieldController" ng-init="initFor({field: field, model: data[field.name]})">
    <label>{{ field.label }}</label>
    <input class="form-control" ng-model="data[field.name]" type="checkbox">
</div>