<div ng-controller="NumberFieldController" ng-init="initFor(field, data[field.name])">
    <label>{{ field.label }}</label>
    <div class="clearfix">

        <div style="width:58%; margin-left: 4%;" class="pull-left">
            <input class="form-control" ng-model="data[field.name]" type="number">
        </div>
        <div style="width:15%; margin-left: 3%;" class="pull-left">
            <button tooltip="+ {{ step }}" ng-click="data[field.name] = incrementValue(data[field.name])" class="btn btn-fc btn-success form-control"> <span class="glyphicon glyphicon-plus"></span> </button>
        </div>
        <div style="width:15%; margin-left: 3%;" class="pull-left">
            <button tooltip="- {{ step }}" ng-click="data[field.name] = decrementValue(data[field.name])" class="btn btn-fc btn-danger form-control"> <span class="glyphicon glyphicon-minus"></span> </button>
        </div>
    </div>

</div>