<div ng-controller="RendererFieldController" ng-init="initFor(field)">
    <div class="form-group" ng-if="isFieldText();">
        <div ng-include="'fiba/templates/fields/text.html'"></div>
    </div>
    <div class="form-group" ng-if="isFieldBool();">
        <div ng-include="'fiba/templates/fields/bool.html'"></div>
    </div>
    <div class="form-group" ng-if="isFieldNumber();">
        <div ng-include="'fiba/templates/fields/number.html'"></div>
    </div>
    <div class="form-group" ng-if="isFieldSelect();">
        <div ng-include="'fiba/templates/fields/select.html'"></div>
    </div>
</div>