<label>{{ field.label }}</label>
<select class="form-control" ng-model="data[field.name]">
    <option ng-repeat="(key, value) in field.options" value="{{ key }}">
        {{ value }}
    </option>
</select>