<div class="modal-header">
    <h3 class="modal-title">Belka dla sędziów</h3>
</div>
<div class="modal-body clearfix">
    <form>
        <div class="form-group">
            <label>Sędzia 1</label>
            <input class="form-control" type="text" ng-model="referee_1"/>
        </div>
        <div class="form-group">
            <label>Sędzia 2</label>
            <input class="form-control" type="text" ng-model="referee_2"/>
        </div>
        <div class="form-group">
            <label>Sędzia 3</label>
            <input class="form-control" type="text" ng-model="referee_3"/>
        </div><div class="form-group">
        <label>Komisjoner</label>
        <input class="form-control" type="text" ng-model="commissioner"/>
    </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success"  ng-click="show()">Pokaż</button>
    <button class="btn btn-warning" ng-click="hide()">Zdejmij</button>
    <button class="btn btn-info" ng-click="update()">Aktualizuj</button>
    <!--button class="btn btn-danger" ng-click="cancel()">Anuluj</button-->
</div>