<div class="modal-header">
    <h3 class="modal-title">Statystyki - cały zespół</h3>
</div>
<div class="modal-body clearfix" style="max-height:500px; overflow-y:auto;">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div ng-controller="TeamStatsController" ng-include="'fiba/templates/stats/team.html'" ng-init="initFor('A')"></div>
                </div>
                <div class="col-md-4">
                    <div ng-controller="TeamStatsController" ng-include="'fiba/templates/stats/team.html'" ng-init="initFor('B')"></div>
                </div>
                <div class="col-md-4">
                    <div>
                        <h4>Mała belka</h4>
                        <div class="form-group" ng-show="history.is_available();">
                            <label>Załącz dane historyczne
                            <input type="checkbox" class="form-control" ng-model="add_history">
                            </label>
                        </div>
                        <div ng-repeat="property in properties" class="form-controll"  ng-if="(property.hidden !== true)">
                            <label>&nbsp;</label>
                            <button class="btn btn-primary form-control" ng-click="showSmall(property)">{{ property.label }}</button>
                        </div>
                        <div class="form-control">
                             <label>&nbsp;</label>
                            <button class="btn btn-danger form-control" ng-click="hideSmall()">Schowaj małą belkę</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <div ng-repeat="stat in medium_statistics" class="form-controll">
                            <label>&nbsp;</label>
                            <button class="btn btn-primary form-control" ng-click="showBig(stat.url)">{{ stat.label }}</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success"  ng-click="showBig()">Pokaż</button>
    <button class="btn btn-warning" ng-click="hideBig()">Zdejmij</button>
    <button class="btn btn-info" ng-click="updateBig()">Aktualizuj</button>
    <!--button class="btn btn-danger" ng-click="cancel()">Anuluj</button-->
</div>