
<div class="form-group" ng-repeat="stat in properties" ng-if="!stat.hidden">
    <label><b>{{ stat.label }}</b> </label>
    <input class="form-control" ng-value="getStatValue(stat.name_to_be_sent)" disabled/>
</div>
