<div class="modal-header">
    <h3 class="modal-title">Porownanie dwóch graczy</h3>
</div>
<div class="modal-body clearfix">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>{{ teamA.name }}</label>
                <select class="form-control" ng-model="players.a.data">
                    <option value=""></option>
                    <option ng-repeat="player in teamA.players" value="{{ player }}">{{ player.last_name }} {{ player.first_name }}</option>
                </select>
            </div>
        </div>

        <div class="col-md-4" ng-controller="ComparePlayersSinglePlayerController" ng-init="initializeFor(teamA, 'a')" ng-include="'fiba/templates/stats/compare_single.html'">


        </div>

        <div class="col-md-4" ng-controller="ComparePlayersSinglePlayerController" ng-init="initializeFor(teamB, 'b')" ng-include="'fiba/templates/stats/compare_single.html'">

        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>{{ teamB.name }}</label>
                <select class="form-control"  ng-model="players.b.data">
                    <option value=""></option>
                    <option ng-repeat="player in teamB.players" value="{{ player }}">{{ player.last_name }} {{ player.first_name }}</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-success"  ng-click="show()">Pokaż</button>
    <button class="btn btn-warning" ng-click="hide()">Zdejmij</button>
    <button class="btn btn-info" ng-click="update()">Aktualizuj</button>
    <!--button class="btn btn-danger" ng-click="cancel()">Anuluj</button-->
</div>