<h4 class="text-center">{{ team.short_name }}</h4>
<div class="form-group" ng-repeat="property in properties"  ng-if="(property.hidden !== true)">
    <label>{{ property.label }} </label>
    <input class="form-control" ng-value="stats[property.name]"/>
</div>