<div class="modal-header">
    <h3 class="modal-title">Statystyki - top {{ top_players_displayed }} {{ getCurrentSortingMethodLabel() }}</h3>
</div>
<div class="modal-body clearfix">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>Typ statystyki</label>
                <select ng-model="current_sort_by" class="form-control">
                    <option ng-repeat="sort_method in sort_by" ng-value="sort_method.name">{{ sort_method.label }}</option>
                </select>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-6">
                    <div
                            ng-include="'fiba/templates/stats/top_for_single_team.html'"
                            ng-controller="TopStatsForSingleTeamController"
                            ng-init="initFor(Match.getTeamA(), 'a')">

                    </div>
                </div>
                <div class="col-md-6">
                    <div
                            ng-include="'fiba/templates/stats/top_for_single_team.html'"
                            ng-controller="TopStatsForSingleTeamController"
                            ng-init="initFor(Match.getTeamB(), 'b')">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success"  ng-click="show()">Pokaż</button>
    <button class="btn btn-warning" ng-click="hide()">Zdejmij</button>
    <button class="btn btn-info" ng-click="update()">Aktualizuj</button>
    <!--button class="btn btn-danger" ng-click="cancel()">Anuluj</button-->
</div>