<div ng-show="current_sort_by=='free_shots'">
    <div class="form-group" ng-repeat="player in players_by_free_shots"  ng-if="player['stats.throws_1p_accurate'] != 0">
        <label><b>{{ player.first_name }} {{ player.last_name }} </b></label>
        <div class="row">
            <div class="col-md-6">
                <label>Trafione</label>
                <input  class="form-control" ng-value="player['stats.throws_1p_accurate']"/>
            </div>
            <div class="col-md-6">
                <label>Wykonane</label>
                <input class="form-control" ng-value="player['stats.throws_1p_made']"/>
            </div>
        </div>
    </div>
</div>
<div ng-show="current_sort_by=='2_point_shots'">
    <div class="form-group" ng-repeat="player in players_by_2p_shots" ng-if="player['stats.throws_2p_accurate'] != 0">
        <label><b>{{ player.first_name }} {{ player.last_name }} </b></label>
        <div class="row">
            <div class="col-md-6">
                <label>Trafione</label>
                <input  class="form-control" ng-value="player['stats.throws_2p_accurate']"/>
            </div>
            <div class="col-md-6">
                <label>Wykonane</label>
                <input class="form-control" ng-value="player['stats.throws_2p_made']"/>
            </div>
        </div>
    </div>
</div>
<div ng-show="current_sort_by=='3_point_shots'">
    <div class="form-group" ng-repeat="player in players_by_3p_shots"  ng-if="player['stats.throws_3p_accurate'] != 0">
        <label><b>{{ player.first_name }} {{ player.last_name }}</b> </label>
        <div class="row">
            <div class="col-md-6">
                <label>Trafione</label>
                <input  class="form-control" ng-value="player['stats.throws_3p_accurate']"/>
            </div>
            <div class="col-md-6">
                <label>Wykonane</label>
                <input class="form-control" ng-value="player['stats.throws_3p_made']"/>
            </div>
        </div>
    </div>
</div>
<div ng-show="current_sort_by=='total_points'" >
    <div class="form-group" ng-repeat="player in players_by_points"  ng-if="player.points_accurate != 0">
        <label><b>{{ player.first_name }} {{ player.last_name }}</b> </label>
        <input class="form-control" ng-value="player.points_accurate"/>
    </div>
</div>
<div ng-show="current_sort_by=='interceptions'">
    <div class="form-group" ng-repeat="player in players_by_interceptions" ng-if="player['stats.steals'] != 0">
        <label><b>{{ player.first_name }} {{ player.last_name }}</b> </label>
        <input class="form-control" ng-value="player['stats.steals']"/>
    </div>
</div>
<div ng-show="current_sort_by=='fouls'">
    <div class="form-group" ng-repeat="player in players_by_fouls" ng-if="player['stats.fouls'] != 0">
        <label><b>{{ player.first_name }} {{ player.last_name }}</b> </label>
        <input class="form-control" ng-value="player['stats.fouls']"/>
    </div>
</div>
<div ng-show="current_sort_by=='loses'">
    <div class="form-group" ng-repeat="player in players_by_loses" ng-if="player['stats.loss'] != 0">
        <label><b>{{ player.first_name }} {{ player.last_name }}</b> </label>
        <input class="form-control" ng-value="player['stats.loss']"/>
    </div>
</div>