.container.main-area{
    margin-top: 20px;
}

.row.minus{
    margin-top:20px;
    margin-bottom: 10px;
}

.row.plus{
    /*margin-top:10px;*/
}

.quarts{
    margin-top:10px;
}

.label.label-primary, .label.label-success, .label.label-danger {
    cursor: pointer;
}


.label{
    padding: 10px;
    width: 45px;
    display: inline-block;
}

.sticky-alert-area{
    position:fixed;
    bottom: 0;
    left: 0;
    z-index: 10001;
}

.referee-button{
    margin: 20px 0;
}

.sticky-footer{
    position: fixed;
    right: 2px;
    bottom: 2px;
    margin-bottom: 0;
    text-align: right;
    padding: 9px 50px 9px 50px;
}

.sticky-footer .item{
    display: inline-block;
    margin: 5px 10px;
    float: left;
}

.sticky-footer .item .glyphicon.big{
    font-size: 42px;
}

input[type="text"].form-control, input[type="number"].form-control, .btn-fc.form-control{
    height: 30px;
}
.btn-fc.form-control{
    padding: 4px 9px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.form-control{
    padding: 5px 12px;
}

.team-panel{
    height: 300px;
    overflow-y: auto;

}

.pitch .image{
    position:relative;
}

.pitch .image img{
    width: 100%;
}

.pitch .image .ticket{
    width:60px;
    position:absolute;
    padding: 10px;
    background-color: white;
    border: 3px solid black;
}

.pitch .image .ticket .text{
      position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    text-align: center;
}

.team-area-left .badge{
    float: left;
}

.team-area-right .badge{
    float: right;
}