
<!DOCTYPE html>
<html lang="en" ng-app="FibaClient"  ng-controller="MainController as mainctrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Fiba Client</title>
    <!-- Bootstrap core CSS -->

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link ng-href="{{ getBootstrapPath() }}" rel="stylesheet">
    <link href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet">
    <link href="fiba/styles/style.css" rel="stylesheet">


    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script src="fiba/app.js"></script>
    <script src="fiba/config.js"></script>
    <script src="fiba/utils/alert.js"></script>
    <script src="fiba/utils/dyn_form.js"></script>
    <script src="fiba/utils/stats/stats_generator.js"></script>
    <script src="fiba/utils/stats/percent_stats_generator.js"></script>
    <script src="fiba/utils/stats/regular_stats_generator.js"></script>
    <script src="fiba/models/player.js"></script>
    <script src="fiba/models/team.js"></script>
    <script src="fiba/models/match.js"></script>
    <script src="fiba/models/score.js"></script>

    <script src="fiba/controllers/main_controller.js"></script>
    <script src="fiba/controllers/referee_dialog_controller.js"></script>

    <script src="fiba/signals/update_squad.js"></script>
    <script src="fiba/signals/update_on_pitch.js"></script>

    <script src="fiba/controllers/team/team_controller.js"></script>
    <script src="fiba/controllers/team/bars/team_coach_controller.js"></script>
    <script src="fiba/controllers/team/bars/team_squad_controller.js"></script>

    <script src="fiba/controllers/pitch/pitch_controller.js"></script>
    <script src="fiba/controllers/pitch/on_pitch_controller.js"></script>

    <script src="fiba/controllers/player/player_controller.js"></script>
    <script src="fiba/controllers/player/bars/player_individual_controller.js"></script>

    <script src="fiba/controllers/config_controller.js"></script>
    <script src="fiba/controllers/mode_controller.js"></script>
    <script src="fiba/controllers/score_controller.js"></script>
    <script src="fiba/controllers/combo_description_controller.js"></script>
    <script src="fiba/controllers/scorebox_controller.js"></script>
    <script src="fiba/controllers/stats/stats_controller.js"></script>
    <script src="fiba/controllers/stats/team_stats_controller.js"></script>
    <script src="fiba/controllers/stats/top_stats_controller.js"></script>
    <script src="fiba/controllers/stats/player_compare_controller.js"></script>
    <script src="fiba/controllers/history_upload_dialog_controller.js"></script>

    <script src="fiba/controllers/fields/renderer_controller.js"></script>
    <script src="fiba/controllers/fields/text_field_controller.js"></script>
    <script src="fiba/controllers/fields/bool_field_controller.js"></script>
    <script src="fiba/controllers/fields/select_field_controller.js"></script>
    <script src="fiba/controllers/fields/number_field_controller.js"></script>



</head>
<body role="document">



<div  class="container main-area" style="margin-top:40px;">
    <div class="row">
        <div class="col-md-5">
            <div ng-include="'fiba/templates/team_left.html'" class="team-area-left" ng-controller="TeamController" ng-init="launchFor('a')"></div>
        </div>
        <div class="col-md-2">
            <div class="form-group"  ng-controller="ModeController">
                <label>Tryb manualny
                    <input class="form-control" ng-model="current_mode" type="checkbox"/>
                </label>
                <label>Pobieranie danych
                    <input class="form-control" ng-model="sync_mode" type="checkbox"/>
                </label>
            </div>

            <div class="form-group">
                <accordion>
                    <accordion-group heading="Wynik">
                        <div ng-controller="ScoreboxController">
                            <div class="form-group">
                                <label>Opis pod wynikiem
                                    <select ng-model="selected_description" class="form-control">
                                        <option ng-repeat="single_option in description_options  track by $index" value="{{ single_option }}">{{ single_option }}</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-xs btn-success form-control" ng-click="show();">Pokaż</button>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-xs btn-danger form-control" ng-click="hide();">Zdejmij</button>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
                <accordion>
                    <accordion-group heading="Combo">
                        <div  ng-controller="ComboDescriptionController">

                            <div class="form-group">
                                <button class="btn btn-xs btn-success form-control" ng-click="show()">Pokaż</button>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-xs btn-danger form-control" ng-click="hide()">Zdejmij</button>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-xs btn-danger form-control" ng-click="hideFouls()">Zdejmij faule</button>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
            </div>


            <div class="form-group">
                <h4>Statystyki</h4>
            </div>
            <div class="form-group"  ng-controller="StatsLauncherController">
                <button class="btn btn-info form form-control" ng-click="openModal()">cały zespół</button>
            </div>
            <div class="form-group" ng-controller="TopStatsLauncherController">
                <button class="btn btn-info form form-control" ng-click="openModal()">top 5 zawodników </button>
            </div>
            <div class="form-group" ng-controller="ComparePlayerLauncherController">
                <button class="btn btn-info form form-control" ng-click="openModal()">porównaj dwóch </button>
            </div>
        </div>
        <div class="col-md-5">
            <div ng-include="'fiba/templates/team_right.html'"  class="team-area-right" ng-controller="TeamController" ng-init="launchFor('b')"></div>
        </div>
    </div>

    <div ng-include="'fiba/templates/alert.html'"></div>

</div>

<div class="sticky-footer panel panel-primary">
    <div class="item" ng-controller="ConfigController" >
        <a popover-template="'fiba/templates/config/config.html'"
           popover-placement="top" popover-title="Konfiguracja" href="#"><span tooltip="Konfiguracja" class="glyphicon glyphicon-cog big"></span>
        </a>
    </div>
    <div class="item" ng-controller="HistoryUploadButtonController" tooltip="Import danych">
        <a  href="#" ng-click="openModal()"><span class="glyphicon glyphicon-import big"></span>
        </a>
    </div>

    <div class="item"  ng-controller="RefereeButtonController" tooltip="Sędziowie">
        <a  ng-click="openModal()" href="#"><span class="glyphicon glyphicon-user big"></span>
        </a>
    </div>
</div>

</body>
</html>
