<div  class="text-center" style="min-width: 200px;">
	<div>
		<div ng-repeat="field in config_entries">
            <div ng-include="'fiba/templates/fields/renderer.html'"></div>
        </div>
	</div>
</div>