<h4 class="text-center">Belki drużyny</h4>
<div class="text-left">
    <div ng-controller="TeamCoachBarLauncherController">
        <button class="btn btn-xs btn-primary" ng-click="openModal()"><span class="glyphicon glyphicon-bishop"></span> Trener</button>
    </div>
    <div ng-controller="TeamSquadBarLauncherController">
        <button class="btn btn-xs btn-primary" ng-click="openModal()"><span class="glyphicon glyphicon-bishop"></span> Skład</button>
    </div>
    <div ng-controller="PitchLauncherController">
        <button class="btn btn-xs btn-primary" ng-click="openModal()"><span class="glyphicon glyphicon-bishop"></span> Boisko</button>
    </div>

    <div ng-controller="OnPitchLauncherController">
        <button class="btn btn-xs btn-primary" ng-click="openModal()"><span class="glyphicon glyphicon-bishop"></span> Aktualnie na boisku</button>
    </div>
</div>
