<div class="panel panel-default" style="margin-top:20px;">
    <div class="panel-heading">
        <h3 class="panel-title">{{ team.name }}</h3>
    </div>
    <div class="panel-body team-panel">
        <div  ng-repeat="arg_player in team.players  | orderBy:'-in_field'" class="form-group clearfix" ng-controller="PlayerController" ng-init="initFor(arg_player)">
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-{{ getButtonClass() }} form-control clearfix" type="button" ng-click="openModal()">
                        <span class="badge">{{ player.number }}</span>{{ player.first_name }} <b style="text-transform: uppercase;"> {{ player.last_name }}</b>
                    </button>
                </div>
                <div class="col-md-2">
                    <div class="btn-group" dropdown dropdown-append-to-body>
                        <button id="single-button" type="button" class="btn btn-primary form-control" dropdown-toggle  ng-disabled="disabled">
                           <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-click="openModal(['first_name','last_name'])"><a href="#">Podpis</a></li>
                            <li role="menuitem" ng-click="openModal(['first_name','last_name', 'stats.throws_1p_accurate', 'stats.throws_1p_made', 'virtual.throws_1p_percentage'])"><a href="#">Rzuty wolne</a></li>
                            <li role="menuitem" ng-click="openModal(['first_name','last_name', 'stats.throws_2p_accurate', 'stats.throws_2p_made', 'virtual.throws_2p_percentage'])"><a href="#">Rzuty za 2</a></li>
                            <li role="menuitem" ng-click="openModal(['first_name','last_name', 'stats.throws_3p_accurate', 'stats.throws_3p_made', 'virtual.throws_3p_percentage'])"><a href="#">Rzuty za 3</a></li>
                            <li role="menuitem" ng-click="openModal(['first_name','last_name', 'stats.fouls'])"><a href="#">Faule</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>