<div class="quarts noselect">
    <div class="row">
        <div class="col-xs-2" ng-repeat="quarter in current_score_data.quarters"><label>{{ quarter.number }}</label>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-2" ng-repeat="quarter in current_score_data.quarters">
            <span class="label" ng-class="{
            'label-default': quarter.number != Score.getCurrentQuarter(),
            'label-primary': quarter.number == Score.getCurrentQuarter()
            }">
                {{ quarter.score }}
            </span>
        </div>
    </div>

</div>