<div class="modal-header">
    <h5 class="modal-title">Ustawienie zespołu "{{ team.name }}"</h5>
</div>
<div class="modal-body clearfix pitch">
    <div class="row">
        <div class="col-md-12">
            <div class="image">
                <img src="fiba/images/pitch.png">

                <div class="ticket" ng-repeat="position in positions" ng-style="{'top': position.top+'%', 'left': position.left+'%'}">
                    <input class="form-control" ng-model="position.text">
                    <div class="text">{{ getPlayerByNumber(position) }}</div>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success"  ng-click="show()">Pokaż</button>
    <button class="btn btn-warning" ng-click="hide()">Zdejmij</button>
    <button class="btn btn-info" ng-click="update()">Aktualizuj</button>
    <!--button class="btn btn-danger" ng-click="cancel()">Anuluj</button-->
</div>